<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center">Detalle de ingreso egreso</h4>
        <table class="table" aria-describedby="mydesc">
          <thead class="table-primary">
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th>acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items | sortIngresoEgreso ; let isPar=even; let isImp= odd" [ngClass]="{              
              'table-primary':isImp,
              'table-light':isPar,
            }">
              <td>{{item.descripcion | titlecase}}</td>
              <td>{{item.monto | currency}}</td>
              <td [ngClass]="{
                    'text-success': item.tipo ==='Ingreso',
                    'text-danger' : item.tipo !=='Ingreso'
                  }"><strong>{{item.tipo}}</strong>r</td>
              <td><button class="btn btn-outline-danger btn-sm" (click)="deleteItem(item.uid)">
                  <i class="fa fa-trash"></i>
                  Eliminar</button></td>
            </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>